.head {
	display: flex;
	padding: 20rpx;
	border-bottom: 1px solid #f5f5f5;
}

.head .plus-btn {
	margin-left: auto;
}

.post-txt {
	width: 100%;
	padding: 20rpx 0;
	border-bottom: 1px solid #f5f5f5;
	min-height: 500rpx;
}

.upload-wrap {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 180rpx;
	height: 180rpx;
	background-color: #F5F5F5;
	margin-top: 30rpx;
	border-radius: 10rpx;
}

.upload-video{
	width: 180rpx;
	height: 180rpx;
	margin-top: 30rpx;
}